# [VULN] DÉPENDANCE VULNÉRABLE - OWASP Dependency-Check
# Utilisation d'une ancienne version de Flask avec des CVE connues
Flask==1.1.4
MarkupSafe==2.0.1
Werkzeug==1.0.1
Jinja2==2.11.3
itsdangerous==1.1.0
click==7.1.2
